Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(kvm-html): kvm html in ipmi tab
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
Due: eslint --fix

build(deps): upgrade manager-webpack-config to v2.3.4
  yarn.lock
Due: none

refactor(commitlint): switch to json format as configuration file
  .commitlintrc.js
  .commitlintrc.json
Due: eslint --fix

build(htmlhint): add htmlhint configuration
  .htmlhintrc
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

fix: apply htmlhint rules
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/popoverMenu.html
  client/app/account/billing/confirmTerminate/billing-confirmTerminate.html
  client/app/account/billing/credits/movements/billing-credits-movements.html
  client/app/account/billing/mean/add/billing-mean-add.html
  client/app/account/billing/ovhAccount/renew/billing-ovhAccount-renew.html
  client/app/account/billing/vouchers/billing-vouchers.html
  client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
  client/app/account/user/contacts/update/user-contacts-update.html
  client/app/account/user/emails/user-emails.html
  client/app/account/user/ip/restriction/add/user-ip-restriction-add.html
  client/app/account/user/security/backupCode/delete/user-security-backupCode.html
  client/app/account/user/security/users/users.html
  client/app/cdn/dedicated/domain/backend/update/cdn-dedicated-domain-backend-update.html
  client/app/cdn/dedicated/domain/rule/add/cdn-dedicated-domain-rule-add.html
  client/app/cdn/dedicated/domain/rule/cdn-dedicated-domain-rule.html
  client/app/cdn/dedicated/domain/rule/update/cdn-dedicated-domain-rule-update.html
  client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.html
  client/app/components/ovh-task-follow/modal/ovh-task-follow-modal.html
  client/app/dedicated/housing/backup/dedicated-housing-backup.html
  client/app/dedicated/housing/reboot/dedicated-housing-reboot.html
  client/app/dedicated/housing/task/dedicated-housing-task.html
  client/app/dedicated/nas/details/partition/add/nas-partition-add.html
  client/app/dedicated/nas/details/partition/update/nas-partition-update.html
  client/app/dedicated/server/dns/dedicated-server-dns.html
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
  client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/operation/executionDateEdit/dedicatedCloud-operation-executionDateEdit.html
  client/app/download/download.html
  client/app/ip/ip-lb/order/ssl/ip-ip-lb-order-ssl.html
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.html
  client/app/license/upgrade/license-upgrade.html
Due: none

build(deps): bump manager-webpack-config to v2.3.6
  yarn.lock
Due: none

docs(readme): update default protocol to http
  README.md
Due: none

fix(dedicated.installation): fix progress for expired servers
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

build(scripts): add clean dist script
  package.json
Due: none

style(package.json): sort entries
  package.json
Due: none

refactor(stylelint): switch to json format as configuration file
  .stylelintrc.json
Due: none

docs(readme): update related links section
  README.md
Due: none

fix(ipfo): agora order on non us dedicated service
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  yarn.lock
Due: eslint --fix

refactor: init dedicatedUniverseComponents
  client/app/app.js
  client/app/dedicatedUniverseComponents/index.js
Due: eslint --fix

fix(ipfo): display country only if more than one country
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.html
Due: none

fix(ipfo): set good catalog name param
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
Due: eslint --fix

release v10.4.8
  CHANGELOG.md
  package.json
Due: none

build(webpack): set correct entry list
  webpack.config.js
Due: eslint --fix

refactor: use @ovh-ux/translate-async-loader
  client/app/app.js
  client/app/async-loader.factory.js
  package.json
  yarn.lock
Due: eslint --fix

feat(ipmi): ipmi tab restructure
  client/app/components/polling/polling.service.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: eslint --fix

feat(ipmi): ipmi tab restructure
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
Due: none

build(deps): upgrade manager-webpack-config to v2.4.0
  package.json
  yarn.lock
Due: none

feat(ipmi): ipmi tab restructure
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: eslint --fix

feat(ipmi): ipmi tab restructure
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
Due: eslint --fix

feat(navbar): add tracking for assistance and notifications
  client/app/components/navbar/navbar-notification.service.js
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

fix(dedicated server): fix ssh list display
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: none

refactor: update according to the new cache-loader directory
  .gitignore
  package.json
Due: none

fix(deps): upgrade manager-webpack-config to v2.4.5
  yarn.lock
Due: none

fix(stylelint): apply stylelint rules
  client/app/css/less/common/button.less
  client/app/css/less/common/global.less
  client/app/css/less/common/header.less
  client/app/css/less/common/informationBlock.less
  client/app/css/less/common/serviceIcon.less
  client/app/css/less/common/table.less
  client/app/css/less/dedicated/server/stats.less
  client/app/css/less/module/user-account/security.less
  client/app/css/less/module/vps/state.less
  client/app/css/less/utils/elements.less
  client/app/css/less/utils/variables.less
  client/app/css/source.less
Due: stylelint 'client/**/*.less' --fix

fix(dedicated server): fix ssh list display (#760)
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: none

release v10.4.9
  CHANGELOG.md
  package.json
Due: none
